@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Zilla Slab', serif;
}

#navbar{
    background-color: #000000;
    color: white;
}

#navbar ul{
    display: flex;
    flex-direction: row;
}

#navbar ul li{
    list-style-type: none;
}
#navbar ul li a{
    margin-left: 110px;
}

#name{
    background-image: url(../Images/project-images/landingpagebackground.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px; 
}

#name h3{
    color: white;
    text-align: right;
    margin-right: 180px;
    padding-top: 300px;
    font-size: 56px;
}

#name p{
    color: white;
    text-align: right;
    margin-right: 180px;
    font-size: 26px;
}

#about{
    background-color: #141414;
    color: white;
    height: 300px;
}

#about h4{
    text-align: center;
    padding-top: 50px;
}

#about p{
    text-align: justify;
    padding-right: 30px;
}

#academic{
    text-align: justify;
}
#academic p{
    text-align: justify;
    padding-right: 30px;
}

#school-logo img{
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    margin-top: 60px;
    object-fit: cover;
}
#school-logo h4{
    margin-left: 50px;
}
#experience{
    margin-left: 120px;
    margin-right: 120px;
}
#experience h4{
    text-align: center;
}

#skillset{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.skills{
    background: linear-gradient(to bottom, #66ccff 0%, #66ffff 100%);
}

.image-card{
    margin-bottom: 20px;
    position: relative;
}

.image-card img{
    width: 100%;
    height: 250px;
    cursor: pointer;
}

.portfolio-name{
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    opacity:0;
    transition: opacity 0.25s;

}

.portfolio-name > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}

.portfolio-name:hover{
    opacity: 1;
}

.portfolio-name:hover >*{
    transform: translateY(0);
}

.portfolio-name a{
    color: white;
}


/* .modal{
    display: none;
    position: fixed;
    z-index:1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
} */

/* .modalImg{
    width: 50%;
    max-width: 700px;
    margin:auto;
    display: block;
} */

/* close button */
/* .close {
    position: absolute;
    top: 100px;
    right: 330px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;

}

.close:hover{
    cursor:pointer;
} */
/* .p-view{
    position: absolute;
    top: 100px;
    right: 780px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3

}

.viewproject{
    position: absolute;
    top: 260px;
    right: 630px;
    font-size: 80px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    color: cyan;
    
} */

/* .viewproject:hover{
    transform: scale(1.5);

}

@keyframes zoom{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1)
    }
} */

