@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Zilla Slab', serif;
}

#name{
    background-image: url(../Images/project-images/landingpagebackground.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px; 
}

#name h3{
    color: white;
    text-align: right;
    margin-right: 180px;
    padding-top: 300px;
    font-size: 56px;
}

#name p{
    color: white;
    text-align: right;
    margin-right: 180px;
    font-size: 26px;
}

#about{
    background-color: #141414;
    color: white;
    height: 300px;
}

#about h4{
    text-align: center;
    padding-top: 50px;
}